@use "variables";
@use "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$primary-green: #BDD12D;
$primary-orange: #FF8200;
$primary-yellow: #F0D44D;
$dark-green: #394237;
$black: #000;
$white: #fff;

$colors: (primary-green, primary-orange , primary-yellow, dark-green,'black', 'white');

:root {
  --sm: #{map-get(variables.$bp, sm)};
  --md: #{map-get(variables.$bp, md)};
  --lg: #{map-get(variables.$bp, lg)};
  --xl: #{map-get(variables.$bp, xl)};

  --box-radius: 40px;
  --pic-radius: 34px;

  --primary-green: #{$primary-green};
  --primary-orange: #{$primary-orange};
  --primary-yellow: #{$primary-yellow};
  --dark-green: #{$dark-green};
  --black: #{$black};
  --white: #{$white};
}

@each $colorName in $colors {
  .bg-#{$colorName} {
    background-color: #{'var(--'+$colorName+')'};
  }
  .text-#{$colorName} {
    color: #{'var(--'+$colorName+')'};
  }
}


body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;

  &--box {
    @include mixins.mediaScreen(xl) {
      border-radius: var(--box-radius);
    }
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0.5rem 1rem;
  max-width: 540px;

  @include mixins.mediaScreen(sm) {
    max-width: 720px;
  }
  @include mixins.mediaScreen(md) {
    max-width: 960px;
  }
  @include mixins.mediaScreen(lg) {
    max-width: 1140px;
  }
}